


<div class="row">
  <% @blogs.each do |blog| %>
    <div class="col-md-4">

      <div class="card border-primary mb-2 mt-5" style="width: 18rem">
        <div class="card-body">
          <h5><%= link_to blog.title, blog_path(blog), class: "card-title" %></h5>
          <p class="card-text"><%= blog.content %></p>
          <%= link_to "View", blog_path(blog), class: "btn btn-outline-primary" %>
          <%= link_to "Edit", edit_blog_path(blog), class: "btn btn-outline-primary" %>
          <%= link_to "Delete", blog_path(blog), method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-outline-danger" %>
        </div>
      </div>

    </div>
    <% end %>
</div>
